 <p class="text-muted text-center">&copy; PersianCamp 2019 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
          </div>
        </footer>

    </div><!-- /.container -->
    </body>
</html>